@charset "UTF-8";

:root{
    --cor01: #F9EDA3;
}

h1{
    margin-top: 0;
    font-family: 'LinLibertine';
    font-size: 3em;
    background-image: radial-gradient( #d4A850 30%,#F9EDA3 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow: 10px 15px 20px hsla(0, 0%, 0%, 0.5);
}

.cabecalho{
    padding-top: 10px;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 70px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header > nav{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    left: 0;
    padding-top:8px;
    text-align: center;
    background-image: linear-gradient(45deg, #F9EDA3, #D4A850);    
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.5);
}

.cabecalho a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
} 

.cabecalho a:hover {
    text-decoration: underline;
}
p {
    margin-top: 0;
    height: 10px;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
main{
    padding-top: 0px;
    margin: 0;

}
.slider{
    position: relative;
    margin: 0 auto;
    width: 1800px;
    height: 600px;
    overflow: hidden;
    display: flex;
    padding: 0 auto;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    padding: 0;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
    padding: 0;
}

.slide img{
    width: 1800px;
    padding: 0;
}

.manual-navigation{
    position: absolute;
    width: 1800px;
    margin-top: 570px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid goldenrod;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: gray;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid goldenrod;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 1800px;
    margin-top: 570px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: gray;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: gray;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: gray;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: gray;
}

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(120deg, #F9EDA3, #D4A850); 
    padding: 30px;
    text-align: center;
}


@media screen and  (max-width: 768px){
 .cabecalho{
    width: 200px;
 }
    
}